# .gitignore file

# ignore folders
draft/**
drafts/**
demos/**
.VSCodeCounter/**
.stfolder/**
**/result/

# ignore files
*.exe
gpucore.*
*.jld2
*.ipynb

# ignore specified files
Manifest.toml
.stignore
